<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="boardVo" type="co.kr.boot.board.vo.BoardVo"/>
        <typeAlias alias="pagingVo" type="co.kr.boot.paging.PagingVo"/>
    </typeAliases>
</configuration>